h1{
    color:aqua
}
h2{
    color:rgb(225, 172, 241)
}

.header{
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 20px;
    font-size: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
}

li{
    display: inline;
}

.logo{
    height: 100%;
}

.navbar{
    text-align: left;
    color: chartreuse;
    font-weight: 500;
    
}

.actions{
    text-align: left;
    font-size: 14px;
}

.actions > * {
    margin-left: 15px;
    margin-right: 15px;
}


.publish h3{
    color: #24949c;
}

.video{
    display: flex;
    width: 75%;
    margin-left: 50px;
}

.features{
    background-color: #037a83;
    display: grid;
    padding: 5% 10%;
    grid-template-columns: repeat(2, 550px); /* se agregan 2 columnas de 300px*/
    grid-template-rows: repeat(2, 300px);
}

/* article{
    background-color: rgb(31, 181, 131);
    margin: 10px;
    width: 40%;
    height: 50px;
} */

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 2px solid #D91512;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
}

.features .feature-card .feature-content img{
    width: 70px;
}

.features .feature-card .feature-content h3{
    font-size: 30px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.features .feature-card .feature-content p{
    font-size: 16px;
    color: rgb(127, 255, 8);
    font-family: Arial, Helvetica, sans-serif;
}

.features .feature-card .feature-content a{
font-size: 17px;
color: deeppink;
font-family: Arial, Helvetica, sans-serif;
}

.features .feature-card .features-image{
flex: 1;
width: 40%;
position: relative;
right: -50px;
height: 80%;
}






.por{
    background-color: #f5dc99;
    display: grid;
    /*grid-template-columns: repeat(2, 550px);  se agregan 2 columnas de 300px
    grid-template-rows: repeat(2, 300px);*/
}

.por .por-one .por-img{
    flex: 2;
    width: 30%;
    position: relative;
    right: -850px;
    height: 650px;  
}


.por .por-one .por-eleven h1{
    font-size: 55px;
    color: rgb(35, 9, 53);
    font-family: Arial, Helvetica, sans-serif;
}


.por .por-one .por-eleven p{
    font-size: 19px;
    color: rgb(245, 20, 170);
    font-family: Arial, Helvetica, sans-serif;
}

.por .por-one .por-img-1{
    flex: 2;
    width: 30%;
    position: relative;
    right: -100px;
    height: 650px;  
}

.mari{
background-color: rgb(255, 225, 219);
display: grid;
padding: 5% 5%;
grid-template-columns: repeat(4, 250px); 
grid-template-rows: repeat(4, 300px);
    }


.mari .mari-roxana .mari-fanny{
    flex: 1;
    position: center;
    right: -550px;
    height: 200px;  
    background-color: blueviolet;
    border: 2px solid #000000;
}

.mari .mari-roxana .mari-fanny h1{
    font-size: 32px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.mari .mari-roxana .mari-fanny p{
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.mari .mari-roxana .mari-fanny button{
    font-size: 15px;
    color: #00000071;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mari .L1{
    flex: 1;
    position: center;
    right: -550px;
    height: 350px;
    background-color: rgb(221, 201, 240);
    border: 2px solid #000000;
}

/*aqui empiezan los media queries*/

@media(max-width:600px){
   .navbar, .actions{
    display: none;
   } 
h1{
    font-size: 30px;
}
main{
    margin-top: 130px;
}
    body{
        background-color: lightsteelblue;
    }
}




